name: Build and publish packages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  IMAGE: hypaapps/laravel

jobs:
  docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - tag: "latest"
            php: "8.5"
          - tag: "stable"
            php: "8.5"
          - tag: "8.5"
            php: "8.5"
          - tag: "8.4"
            php: "8.4"
          - tag: "8.3"
            php: "8.3"

    steps:
      - uses: actions/checkout@v3

      - name: Login to DockerHub
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          context: ${{ matrix.php }}
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ env.IMAGE }}:${{ matrix.tag }}
          cache-from: type=registry,ref=${{ env.IMAGE }}:${{ matrix.tag }}:buildcache
          cache-to: type=inline
